@{
    ViewData["Title"] = "View Movies";
}

@model List<MoviesModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent To</th>
            <th>Notes</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Category.Category</td>
                    <td>@movie.Title</td>
                    <td>@movie.Year</td>
                    <td>@movie.Director</td>
                    <td>@movie.Rating</td>
                    <td>@movie.Edited</td>
                    <td>@movie.Lent_To</td>
                    <td>@movie.Notes</td>
                    <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@movie.MovieId">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@movie.MovieId">Delete</a></td>
                </tr>
            }
    </tbody>
</table>